@media screen and (min-width:1220px){

    header{
    height: 7vh;
 }

 nav#menu a{
    
    font-size: 1.2em;
    padding: 9px 9px;
    
 }

 header h2{
    padding-left: 10px;
    font-size: 1.9em;
 }

 header h3{
    border-radius: 30px;
    padding: 8px 15px;
    font-size: 1.2em;
 }

    #ficha{
    height: 63vh;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 500px 210px 430px;
    grid-template-rows: 70px 95px 110px 110px  70px ;
    font-size: 1.1em;

 }
    section#ficha img.foto {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    width: 300px;
    
    
 }

    #ficha h3 {
    display: none;
    align-items: end;
    justify-items: end;
 }

 #ficha h1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    place-self: center center;
    
 }

 #ficha h2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding-top: 13px;
    padding-left: 5px;
   place-self: center start;
    
 }

#p1 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
 }

 #p2{
    grid-column: 2 / 4;
    grid-row: 4 / 5;
 }

 #social{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    place-self: end center;
 }



 #info{
   text-align: center;
   display: block;
   grid-column: 2 / 4;
   grid-row: 5 / 6;
 }

 #work{
   margin-right: 30px;
}



    .projetos{
      max-width: 1600px;
      margin: auto;
      margin-top: 40px;
      padding: 40px 0px 40px 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 20px 50px 100px auto auto;
      justify-items: center;
     }
      
     .projetos img{
      grid-column: 2 / 3;
      grid-row: 1 / -1 ;
     }

     .projetos h3{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
     }

     

     .projetos a {
      place-self: center;
      width: 45%;
      text-align: center;
      grid-column: 1 / 2;
      grid-row: -2 / -1;
      
     }

     
      p.g{
      display: block;
      grid-column: 1 / 2;
      grid-row: 3 / -2;
      place-items: center center;
     }

     p.pq{
      display: none;
     }

     details{
      display: none;

   
}

 .projetos#alternado img{
      grid-column: 1 / 2;
      grid-row: 1 / -1 ;
     }

 .projetos#alternado h3{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
     }

     

 .projetos#alternado a {
      place-self: center;
      text-align: center;
      grid-column: 2 / 3;
      grid-row: -2 / -1;
      
     }

 .projetos#alternado p.g{
      display: block;
      grid-column: 2 / 3;
      grid-row: 3 / -2;
      padding-right: 15px;
     }

     #skills{
       display: grid;
       grid-template-columns:  1fr 1fr 1fr ;
       grid-template-rows: 80px 70px auto auto;
       grid-auto-rows: 20px;
       place-items: center center;
     }


      #skills{
      padding: 30px 0px;
}

      #formacao{
      padding: 50px 30px 60px 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30px auto;
      grid-auto-rows: auto;
      gap: 20px;
   }

   #formacao h2{
      grid-column: 1 / -1;
      place-items: center center;
   }

   #formacao> div.cursos{
      
}
}
    